*{
  transition: all;
  margin: 0;
  padding: 0;
}

#root{
  width:100%;
}

.bg-grad{
  background: linear-gradient(130deg,#FF0050, #FF1F6A, #5D00ff);
}  

.text-grad{
  background: linear-gradient(100deg,#FF0050, #FF1F6A, #5D00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-transparent-blur{
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  background: rgba(100, 100, 100, 0.4);
  backdrop-filter: blur(4.9px);
}

.shadow-grad{
 box-shadow: 0 0px 18px rgb(255,0,80);
}

.popUp{
  animation: pop 0.5s linear forwards;
}

.slide{
  animation: slide 0.5s linear forwards;
}

.revers-slide{
  animation: rslide 0.8s linear forwards;
}

.customFade{
  animation: fade 1s linear forwards;
}

.reverseFade{
  animation: rfade 1s linear forwards;
}

.typeWriter{
  line-height: 1.8rem;
  overflow: hidden;
  display: inline;
  animation: Typing 2s ease-in-out
}

/* For Particle background */
#particlesBg {
  position: fixed;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  z-index: -10;
}

/* ALL KEYFRAMES FOR ANIMATION */
@keyframes pop {
  from {
    scale: 0;
    
  }
  to {
    scale: 1;
  }
}

@keyframes Typing {
  0%{
    width: 0;
    padding: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes Blink {
  0%, 100%{
    border-right: 2px solid #05eeffb1;
  }
  50%{
    border-right : transparent;
  }
}

@keyframes slide {
  from {}
  to {translate: 20.5rem 0;}
}

@keyframes rslide {
  from {translate: 20rem 0;}
  to {translate: -20rem 0;}
}

@keyframes fade {100%{opacity: 0;}}

@keyframes rfade {0%{opacity: 0;}100%{opacity: 1;}}

/* ABOUT PAGE */
.aboutpage{
  height: auto;
  width: 90%;
  padding: 2rem;
  border-radius: 5px;
  border: 0.8px solid #999;
  margin: 2rem auto 2rem auto;
  font-size: 1.5rem;
  color: whitesmoke;
  
}
/* ALL HOVER CLASSES AND EFFECTS */
.hover-grad{
  transition:color;
}


.hover-grad:hover{
  background: linear-gradient(100deg,#FF0050, #FF1F6A, #5D00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* @media screen and (min-width: 1200px) and (max-width: 1439px) {
  #regForm div{
    width:30%;
  }
}*/